<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="style.css" />
    <title>Product App</title>
  </head>

  <body>
    <div class="nav-bar"></div>

    <div id="app">
      <div class="product">
        <div class="product-image">
          <img v-bind:src="image" alt="stock" />
        </div>

        <div class="product-info">
          <h1>{{ title }}</h1>

          <p v-show="onSale">On sale!</p>

          <p v-if="inventory > 10">In Stock</p>
          <p v-else-if="inventory <= 10 && inventory > 0">Almost sold out!</p>
          <p v-else>Out of Stock</p>

          <ul>
            <li v-for="detail in details">{{ detail }}</li>
          </ul>

          <ul>
            <li v-for="size in sizes">{{ size }}</li>
          </ul>

          <div
            v-for="(variant, index) in variants"
            :key="variant.variantId"
            class="color-box"
            :style="{ backgroundColor: variant.variantColor}"
            @mouseover="updateProduct(index)"
          ></div>

          <button
            v-on:click="addToCart"
            :disabled="inventory==cart"
            :class="{ disabledButton: inventory==cart }"
          >
            Add to Cart
          </button>

          <button
            v-on:click="removeToCart"
            :disabled="inventory==0"
            :class="{ disabledButton: cart==0 }"
          >
            Remove to Cart
          </button>

          <div class="cart">
            <p>Cart [{{ cart }}]</p>
          </div>
        </div>

        <a :href="vuemastery" target="_blank">Se tee course here</a>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="main.js"></script>
  </body>
</html>
